.choose-sides-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	border-radius: 10px;
	background-color: #fbe8a6;;
	.sides-display {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 70%;
		.fa-circle {
			font-size: 84px;
		}
		h1 {
			font-size: 100px;
			margin: 10px 0;
		}
		h1:last-child {
			line-height: 70px;
		}
		.icon-btn {
			font-size: 20px;
			color: #e67744;
		}
	}
	 .players-wrapper {
		 width: 100%;
		 position: relative;
			display: flex;
			height: 50px;
			// background-color: #fbe8a6;
			overflow: hidden;
			border-radius: 10px;
			justify-content: center;
		 p {
			 position: absolute;
			 text-align: center;
			 background: #fbe8a6;
			 display: flex;
			 align-items: center;
			 justify-content: center;
			 height: 50px;
				margin: 0;
			 transition: left 0.5s, right 0.5s, text-align 0.3s 0s;
			 left: 50%;
			 right: 50%;
			 top: 0;
			 &.left-most {
				 left: 0;
				//  right: 100%;
			 }
			 &.right-most {
				right: 0;
				//  left: 100%;
				// text-align: right;
				z-index: 1;
			 }
		 }
	 }
}